html {
    /* Allows the vertical scroll bar to always be visible so the screen content doesn't
       move when albums change and add/remove the scroll bar naturally */
    overflow-y: scroll; 
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #D4D4D4;
 }

h1 {
  font-weight: bold;
  color: #0D7BBC;
}

header {
  width: 100%;
  background: #3A3A3A;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-size: 200%;
  font-weight: 300;
}

.trackListing { 
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.trackListing > tbody > tr > td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.trackListing > tbody > tr:hover {
  background: ghostwhite !important;
}

.trackListing > tbody > tr:nth-child(even) {
  background: #CCC
}

.trackListingSelected {
  background: lightblue !important;
}

 .albumArtColumn {
  text-align:right;
}

.albumArtWrapper {
  position:relative;
  display: inline-block; /* added */
  overflow: hidden; /* added */
}

.albumArtWrapper img:hover {
  opacity: 0.5
}

.albumArtWrapper:hover a {
    opacity: 1; /* added */
    top: 0; /* added */
    z-index: 500;
}

.albumArtWrapper:hover a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.albumArtWrapper a {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}

span.glyphicon-play-circle {
  font-size:450px;
  opacity: 0.76;
}

span.glyphicon-pause {
  font-size:450px;
  opacity: 0.76;
}